<header class="barra-superior-container">
  <div class="logo-e-status">
    <div class="logo-wrapper">
      <div class="textos-logo">
        <h1 class="titulo-app">Detecta IA</h1>
      </div>
    </div>
    
    <div class="emblema-status" [class.ativo]="ativo">
      <span class="ponto-pulsante"></span>
      <span class="texto-status">
        {{ ativo ? 'RECONHECIMENTO EM TEMPO REAL' : 'SISTEMA EM PAUSA' }}
      </span>
    </div>
  </div>

  <div class="usuario-perfil">
    <div class="info-operador">
      <span class="nome-usuario">{{ nomeUsuario }}</span>
      <span class="cargo-operador">Operador Ativo</span>
    </div>
    <div class="avatar-wrapper">
      <img [src]="urlAvatarUsuario" alt="Avatar do Usuário" class="avatar-usuario" />
      <span class="ponto-online"></span>
    </div>
  </div>
</header>
